.grid-element {
  position: relative;
  height: 5vh;
  width: 100%;
}

.grid-column {
  padding: 0px!important;
}

.grid-component {
  margin: 2vh 2vw!important;
}

.grid-container {
  cursor: pointer;
  width: 100%!important;
}

.grid-container>div {
  border: 1px solid #585858;
  border-width: 0 1px 1px 0;
  float: left;
}